.countryDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countryDetails> div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
}